<style type="text/css">
.errors {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid red;
  background: #eee;
  float: left;
  margin-bottom: 1em;
}
.errors h3 {
  font-size: 1.1em;
  background-color: red;
  color: white;
  margin: 0;
  padding: 0.3em;
  border: 0;
}
.errors ul {
  padding: 0.5em;
  margin-bottom: 0;
  list-style-type: square;
}
.errors li {
  margin-left: 1.5em;
}
</style>

<h1>Activate your account</h1>

<%= error_messages_for @user %>

<p>Please create a password to activate your account.</p>

<form action="<%= url_for("/activate/#{@user.activation_code}") %>" method="post">
  <table>
    <tbody>
      <tr>
        <td><label for="username">Username</label></td>
        <td><span id="username"><%= @user.username %></span></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input id="password" type="password" name="user[password]" /></td>
      </tr>
      <tr>
        <td><label for="password_confirmation">Confirm Password</label></td>
        <td><input id="password_confirmation" type="password" name="user[password_confirmation]" /></td>
      </tr>
    </tbody>
  </table>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>
