<h1>Login</h1>
<form action="<%= url_for(login_action) %>" method="post">
  <p>
    <label for="username">Username</label><br/>
    <input name="username" type="text" />
  </p>
  <p>
    <label for="password">Password</label><br/>
    <input name="password" type="password" />
  </p>
  <p>
    <input type="submit" value="Submit" />
    <% if login_action == '/openid/login' %>
      <input type="submit" name="cancel" value="Cancel" />
    <% end %>
  </p>
</form>
